.e {
  height: 100vh;
  display: flex;
  align-items: center;
}

.e-left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100%;
}

.e-card.bg {
  position: absolute;
  top: 50px;
  left: 50px;
  background-color: #341c1c;
}

.e-card {
  width: 60%;
  height: 70vh;
  border-radius: 30px;
  position: relative;
  overflow: hidden;
}

.e-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.e-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 16px;
  width: 60%;
  margin: 0 auto;
}

.e-right h2 {
  margin-bottom: 20px;
}

.e-right .education-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  width: 100%;
  padding: 10px;
  animation: slide-in 2s ease-in-out forwards;
}
.e-right .education-item-m {
  display: none;
}

.highlight {
    font-weight: 600;
  }
  

@keyframes slide-in {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  

.e-right .education-item h4 {
  margin-bottom: 10px;
}

.e-right .education-item p {
  margin: 0;
}


@media screen and (max-width:480px){

  .e{
    flex-direction: column;
  }

  .e-right .education-item-m {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    animation: slide-in 2s ease-in-out forwards;
  }
  .e-right .education-item {
    display: none;
  }

  .e-card{
    width: 80%;
    height: 30vh;
  }

  .e-card.bg{
    top: 20px;
    left: 60px;
  }
  
}